# The .gitignore file is used to ignore files that are not part of the project
# Last updated: Apr 12, 2022

# MAC OS X .DS_Store file
.DS_Store
*/.DS_Store
**/.DS_Store
._.DS_Store

# Diretory ignore files
EBOOKS